/*
Colors
#762839 dark red
#AD6A63 softer red
#D98A79 softer red
#CDB7A7 brown
#F0EEE9 grey
*/

.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

p {
  text-align: justify;
}

#grafismo p {
  text-align: center;
}

#grafismo h4 {
  text-align: center;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F0EEE9;
  min-height: 100vh;
}

.main-header {
  background-color: #762839;
  color: #F0EEE9;
  box-shadow: 0 4px 7px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.small-header {
  display: none;
  z-index: 9999;
}

main {
  margin-top: 80px;
}

.nav-pills .nav-link {
  color: #F0EEE9;
  font-weight: bold;
}

.logo {
  width: 200px;
  height: auto;
}

#intro h4, #intro h5, #intro h3 {
  text-align: center;
  color: #F0EEE9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#intro button a {
  color: #F0EEE9;
  text-decoration: none;
}

#intro button {
  min-width: 200px;
  margin-top: 20px;
  font-size: 1.275rem;
}

#intro {
  padding-top: 110px;
  position: relative;
  width: 100%;
  height: 460px;
  margin-bottom: 20px;
}

#intro:after {
  background-image: linear-gradient(to left, #AD6A63 40%, transparent), url('images/fundo3.png');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.intro {
  position: relative;
}

#intro img {
  width: auto;
  height: 500px;
  position: absolute;
  bottom: -172px;
  right: 0;
  z-index: -1;
}

span.grafismo {
  width: 150px;
  height: 150px;
  font-weight: 600;
  background-color: rgba(205, 183, 167, 0.2);
  margin: 20px auto;
  box-shadow: 0 4px 7px rgba(0,0,0,0.15);
  display: block;
  text-align: center;
  border-radius: 50%;
  border-color: #762839;
}

img.grafismo1 {
  width: 120px;
  height: auto;
  padding-top: 10px;
}

img.grafismo2 {
  width: 65px;
  height: auto;
  padding-top: 15px;
}

img.grafismo3 {
  width: 65px;
  height: auto;
  padding-top: 40px;
}

img.grafismo4 {
  width: 65px;
  height: auto;
  padding-top: 30px;
}

#me, #psi, #online, #terapia, #intro, #grafismo, #contato {
  color: #762839;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 40px;
}

h3 {
  margin: 40px 0;
}


footer {
  background-color: #CDB7A7;
  height: 100px;
  color: #F0EEE9;
  box-shadow: 0 4px 7px rgba(0,0,0,0.2);
}

.online ul {
  list-style-type: circle;
}

#me {
  background-color: #CDB7A7;
}

#me img {
  width: 70%;
}

#terapia img {
  width: 40%;
}

#psi img {
  margin-top: 120px;
  width: 70%;
}

#online {
  background-color: #AD6A63;
}

#online {
  color: #F0EEE9;
}

section {
  padding: 45px 0;
}

.contato-one {
  height: 350px;
  width: auto;
}

.contato-two {
  height: 350px;
  width: auto;
}

.contato-box {
  padding: 15px 15px 30px 15px;
  background-color: #CDB7A7;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0,0,0,0.2);
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.contato-box p {
  text-align: center;
}

.contato-box p a {
  color: #762839;
  text-decoration: none;
}

.contato-box button a {
  color: #F0EEE9;
  text-decoration: none;
}

#contato {
  position: relative;
}

#contato:after {
  background-image: linear-gradient(to left, #F0EEE9 40%, transparent), url('images/fundologo.png');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  z-index: -2;
}

svg {
  fill: #762839;
}

.btn-one {
  background-color: #762839;
  border-color: #762839;
  color: #F0EEE9;
  padding: 10px;
  font-weight: 600;
}

.btn-one:hover {
  background-color: #D98A79;
  border-color: #762839;
}

.btn-one:focus {
  background-color: #D98A79;
  border-color: #762839;
}

.btn-one:active {
  background-color: #D98A79;
  border-color: #762839;
}

@media (max-width: 768px) {
  .none {
    display: none;
  }

  .main-header {
    display: none;
  }

  .small-header {
    display: block;
    background-color: #762839;
    color: #F0EEE9;
    box-shadow: 0 4px 7px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
  }

  #intro {
    padding-top: 60px;
    margin-bottom: 30px;
  }

  #psi img {
    margin-top: 10px;
  }
}

@media (max-width: 1199px) {
  #intro img {
    display: none;
  }
 }
