/*
Colors
#762839 dark red
#AD6A63 softer red
#D98A79 softer red
#CDB7A7 brown
#F0EEE9 grey
*/

html {
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
	background-color: #762839;
	color: #fff;
	padding: 20px;
  width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.logo {
	display: inline-block;
	height: 120px;
	width: 120px;
	margin-right: 20px;
}

header h1 {
	margin: 0;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

header li {
	margin: 0 10px;
}

header a {
	color: #fff;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

body {
  margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

body {
  height: 100%;
}

main {
  background-color: #FFFFFF;
	margin: 90px auto 0 auto;
  height: 100%;
}

section {
	margin-bottom: 40px;
}

.section1 {
  text-align: center;
}

.section1 h1 {
  font-size: 3rem;
  margin: 0;
}

.section2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section4 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section5 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-gap: 20px;
}

.card {
	background-color: #D98A79;
  color: #F0EEE9;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.card h3 {
	margin-top: 0;
}

.card p {
	margin-bottom: 10px;
}

.card a {
	display: block;
	margin-top: 10px;
	color: #F0EEE9;
	font-weight: bold;
	text-align: right;
}

.card a:hover {
	color: #000;
}

footer {
	position: absolute;
	background-color: #762839;
	color: #fff;
	text-align: center;
	width: 100%;
}
